html, body {
    height: 100%;
}

body {
    background-size: cover;
    -webkit-background-size: cover;
    background-color: #000;
    font-family: 'Droid Serif', serif;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
    font-style: italic;
}

.icon-list a:hover {
background: #F39D00;
transition: all 0.3s;
}

.onepage-pagination {
  -webkit-transform: translate(0,-50%);
}


a {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-style: italic;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}


.content {
    left: 50%;
    top: 50%;
    width: 90%;
    position: absolute;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);    
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.content-frontpage {
    left: 50%;
    top: 50%;
    position: absolute;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);    
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.hinta, .hinta-wrapper {
    font-size: 45px;
}

.hinta-inner {
    float: left;
}

.kpl {
    font-size: 25px;
    display: block;
    clear: right;
}

.kpl ~ .hinta {
margin-top: -9px;
display: block;
}

.col-xs-3 .hinta {
    font-size: 32px;
}

.kuvaus {
    margin: 25px 0;
    line-height: 2em;
}

.paginate {
    margin-top: 15px;
}

.alignleft {
    float: left;
    line-height: 2em;
    color: #fff;
    margin-right: 10px;
}

.alignright {
    float: right;
    line-height: 2em;
    color: #fff;
    margin-right: 10px;
}

.alignleft:before {
    content:'';
    display: inline-block;
    background-image: url(img/edellinen-icon.png);
    float: left;
    height: 32px;
    width: 47px;
    margin-right: 10px;
}

.alignright:before {
    content:'';
    display: inline-block;
    background-image: url(img/seuraava-icon.png);
    float: right;
    height: 32px;
    width: 47px;
    margin-left: 10px;
}

.rmenu {
    position: absolute;
    left: 35px;
    bottom: 15px;
    z-index: 100;
}

.ohjelma-mainos {
    z-index: 99;
}

.ohjelma-mainos-hide {
    display: none;
}

/* PALAUTELOMAKE */

/*lomake lähetä nappi */

.wpcf7-form-control.wpcf7-submit {
    background-color: #e9ab34;
    border: 0;
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 5px;
}

input.wpcf7-form-control.wpcf7-submit:hover {
    background-color: #D19A30;
}

#wpcf7-f8-p18-o1 {
margin-top: 25px;
}

textarea.form-control {
height: 90px;
}

/* OHJELMA */

.ohjelma {
    margin-top: -105px;
    overflow-y: auto;
    height: 360px;
}

.ohjelma-wrapper {
    height: 50px;
}

.paivamaara {
    float: left;
    margin-right: 45px;
    height: 50px;
}

/* MAINOS */

.banner { 
    position: relative; 
    overflow: auto; 
    height: 768px;
    width: 1024px;
}

.banner li { 
    list-style: none; 
}

.banner ul li { 
    float: left; 
    height: 768px;
    width: 1024px;
}

.slider {
    margin: 0 !important;
    padding: 0 !important;
}

.banner .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}

.banner .dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    padding: 0;
}

.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.banner .dots li.active {
    background: #F7C223;
    border: 2px solid #F7C223;
    opacity: 1;
}

/* PRELOADER */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #000; /* Old browsers */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    z-index:100; /* makes sure it stays on top */
}

#preloader span {
color: #53346D;
font-weight: 800;
}

#status {
    position:fixed;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    margin:-25px 0 0 -15px; /* is width and height divided by two */
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.square {
  border: 1px solid #FCAC1C;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
}
.square:nth-child(1) {
  -webkit-animation: rotate 10s linear infinite;
  -webkit-opacity: 1;
}
.square:nth-child(2) {
  -webkit-animation: rotate2 10s linear infinite;
  -webkit-opacity: 0.8;
}
.square:nth-child(3) {
  -webkit-animation: rotate3 10s linear infinite;
  -webkit-opacity: 0.6;
}
.square:nth-child(4) {
  -webkit-animation: rotate4 10s linear infinite;
  -webkit-opacity: 0.4;
}
.square:nth-child(5) {
  -webkit-animation: rotate5 10s linear infinite;
  -webkit-opacity: 0.2;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
  }
}
@-webkit-keyframes rotate3 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
  }
}
@-webkit-keyframes rotate4 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1440deg);
  }
}
@-webkit-keyframes rotate5 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1800deg);
  }
}


.wp-polls .Buttons {
    border: 1px solid #FAAA15 !important;
    background-color: #FCAC1C !important;
    padding: 10px 85px;
    color: #111;
    margin-top: 10px;
}

.wp-polls ul li, .wp-polls-ul li, .wp-polls-ans ul li {
    text-align: left;
    background-image: none;
    display: block;
    padding: 10px 0;
}

iframe .ss-form-container {
    background: transparent !important;
}


/* GOOGLE FORM */

input.jfk-button {
    border: 1px solid #FCAC1C !important;
    background-color: #FCAC1C !important;
    padding: 10px 85px;
    color: #111;
    margin-top: 10px;
}

input.jfk-button:hover {  
    background-color: #950000 !important;
    border: 1px solid #950000 !important;
}

.page-id-243 label input, .page-id-265 label input{ /* HIDE RADIO */
  visibility: hidden;
  position: absolute;
}

label input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

label input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  background: #FCAC1C;
  border-radius: 10px;
} 

.ss-choice-item-control {
    width: 285px;
    height: 245px;
    display: block;
}

.ss-choice-item {
    float: left;
}

.ss-choices {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.ss-q-title {}

label.error {
    display: list-item;
    color: #ff0600;
    font-size: 12px;
    list-style-position: inside;
    padding: 5px 0 0;
}

/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
  background: #BE4C54;
}
 
/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654 ;
}

.tiedot-wrapper {
    background: rgba(0,0,0,0.75);
    padding: 15px;
}

.ss-form-question {
    margin-bottom: 15px;
}
