$color__primary: #F39D00;
$color__secondary: #950000;
$color__black: rgba(0,0,0,0.5);
$color__white: #ffffff;

$color__sidebar1: transparent;
$color__sidebar2: #333;

$color__button-text: #fff;
$color__button-text-shadow: #2f3132;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__primary;
$color__background-pre: transparent;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link-visited: $color__primary;
$color__link-hover: $color__primary;
$color__text-main: #fff;
$color__link: $color__text-main;

$color__border-button: $color__primary;
$color__border-button-hover: $color__primary;
$color__border-button-focus: $color__primary;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__menu-background: #444444;
$color__menu-background-light: #333333;
$color__menu-link-hover: #F39D00;
$color__menu-active: #181818;

$color__dots-border: $color__primary;
$color__dots-active: $color__primary;


